<!-- Industry.html -->
<div ng-if="base.initialized">
<div class="text-center draw-number"> 
    <div class="row top-padding">
        <span class="col-md-3 hidden-xs"></span>

        <span class="col-md-1 col-xs-2">{{base.pick1}} </span>
        <span class="col-md-1 col-xs-2">{{base.pick2}} </span>
        <span class="col-md-1 col-xs-2">{{base.pick3}} </span>
        <span class="col-md-1 col-xs-2">{{base.pick4}} </span>
        <span class="col-md-1 col-xs-2">{{base.pick5}} </span>
        <span class="col-md-1 col-xs-2">{{base.pick6}} </span>
    </div>
    <div class="row">
        <span class="col-md-3 hidden-xs"></span>
        <span ng-repeat="n in base.draw track by $index" class="col-md-1 col-xs-2">{{n}} </span>
    </div>
</div>
<div>
    <p>Cash won: {{base.industry.getCount() | number: 0}}</p>
    <p>Cash Spent: {{base.tries | number: 0}}</p>
    <p>Return on dollar: {{base.industry.getCount() / base.tries | number: 2}}</p>
</div>
<div class="row"> 
<div class="col-md-4 col-xs-4">
    <table class="table table-striped ">
          <tr>
            <th>Match</th>
            <th>Prize</th> 
            <th>Odds</th>
            <th>Times Won</th>
          </tr>
          <tr>
            <td><span style="color:red">O</span></td>
            <td>$4</td> 
            <td>1 in 38.32</td>
            <td>{{base.four1}}</td>
          </tr>
          <tr>
            <td>O <span style="color:red">O</span></td>
            <td>$4</td> 
            <td>1 in 91.98</td>
            <td>{{base.four2}}</td>
          </tr>
          <tr>
            <td>O O <span style="color:red">O</span></td>
            <td>$7</td> 
            <td>1 in 701.33</td>
            <td>{{base.seven1}}</td>
          </tr>
          <tr>
            <td>O O O</td>
            <td>$7</td> 
            <td>1 in 579.76</td>
            <td>{{base.seven2}}</td>
          </tr>
          <tr>
            <td>O O O <span style="color:red">O</span></td>
            <td>$100</td> 
            <td>1 in 14,494.11</td>
            <td>{{base.hundred1}}</td>
          </tr>
          <tr>
            <td>O O O O</td>
            <td>$100</td> 
            <td>1 in 36,525.17</td>
            <td>{{base.hundred2}}</td>
          </tr>
          <tr>
            <td>O O O O <span style="color:red">O</span></td>
            <td>$50,000</td> 
            <td>1 in 913,129.18</td>
            <td>{{base.fifty}}</td>
          </tr>
          <tr>
            <td>O O O O O</td>
            <td>$1,000,000</td> 
            <td>1 in 11,688,053.52</td>
            <td>{{base.million}}</td>
          </tr>
          <tr>
            <td>O O O O O <span style="color:red">O</span></td>
            <td>$1,000,000,000</td> 
            <td>1 in 292,201,338.00</td>
            <td>{{base.jackpot}}</td>
          </tr>
    </table>

   
</div>

</div>
<button class="btn" ng-click="base.stop()"> Pause</button>
    <button class="btn btn-danger" ng-click="base.reset()"> Reset</button>
    <div class="hidden-xs" style="height:300px; color: white"> spaaace </div>
</div>

<div ng-if="!base.initialized">
    <div  class="page-header " style="margin-top: 50px;"> 
        <h1 >Pick your numbers </h1>
        Choose only whole numbers. Hit start to move on.
        The first five must be unique.
    </div>
    <form name="myform" class="form-inline init" >

            <input type="number" ng-repeat="n in base.picks track by $index" class="form-control"  ng-model="base.picks[$index]" duplicate="base.picks" placeholder="1-69" min="1" max="69" ng-required="required">

        <input type="number" class="form-control"  ng-model="base.pick6" placeholder="1-26" min="1" max="26" ng-required="required">
        <div ng-show="myform.$error.duplicate">You must choose unique numbers for the first 5 numbers</div>
        <div style="padding-top:5px">
            <button id="verifyPicks" class="btn btn-default" ng-click="verify(myform)"> Start </button> 
        </div>
       
    </form>

</div>

<div class="floor">
    Sync Number: {{base.syncNumber}}
</div>

